div#error, div#info, div#warning, div#success{
	clear: both;
	float: none;
	margin: 2%;
	width: auto;
	color : #fff;
	text-align: center;
	padding : 5px;
}
div#error{ background-color: red; }
div#info{ background-color: blue; }
div#warning{ background-color: maroon; }
div#success{ background-color: green; }

table{
	color: #fff;
	padding: 5px;
	border: 1px solid #e0e0e0;
	background-color: #333;
}

table > tr,
table > tr > td{
	text-align: center;
	padding: 2px;
}